
 <div class="post-heading">
      <div class="pull-left image">
        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
      </div>
      <div class="pull-left meta">
              <div class="title h5">
               <a href="#"><b> Anonymous </b></a>
                 posted a comment.
              </div>
        <h6 class="text-muted time">{{ comment.mood }}</h6>
         <p>{{comment.text}}</p>
      </div>
  </div> 